<h1> About </h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.come" %>
	is a project to teach 
	<%= link_to "Ruby on Rails", "http://rubyonrails.org"%> in one month and I am totally digging it so far even though there seem to be a lot of holes in my knowledge that I still need to fill. This is my sample application that I will continue to work on over time. 
</p>
