<div class="hero-unit">
	<h1>Welcome to Vishnu's One Month Rails Project!</h1>
	<p>
		You have now entered Vishnu's domain of AWESOMENESS!! BOW DOWN TO THE ALMIGHTY NINJA OF NINJAS!!
		This is the home page to my 
		<a href="http://onemonthrails.com">One Month Rails</a> application.
	</p>
		<!-- you can put a link using rails code and not html by typing in <%= link_to "One Month Rails", "http://onemonthrails.com" %> application-->
	<p>
		<a class="btn btn-success btn-large"
			href="#">Pay your respects now!</a>
	</p>
		<!-- <%= link_to "Pay your respects now!", "#" %> -->
</div>
