<%if user_signed_in? %>
 	<h1> YOU ARE NOW A NINJA OF THE DEEP BLUE SEAA and YOU RIDE A DRAGON!... YEAH DRAGON!! FTWWWWW </h1>
 	<p>
 		Thank you for logging in and for always being so ninja like. You ninja attitude with be rewarded with lots of ninja points, which can be used to buy DRAGONS!.. YEAH DRAGONSS FTWWWW.
 	</sp>
 	<br />
 	<br />
 	<%= link_to "Pins", pins_path %>

 <%else%>
	<div class="hero-unit">
		<h1>Welcome to Vishnu's One Month Rails Project!</h1>
		<p>
			You have now entered Vishnu's domain of AWESOMENESS!! BOW DOWN TO THE ALMIGHTY NINJA OF NINJAS!!
			This is the home page to my 
			<a href="http://onemonthrails.com">One Month Rails</a> application.
		</p>
			<!-- you can put a link using rails code and not html by typing in <%= link_to "One Month Rails", "http://onemonthrails.com" %> application-->
		<p>
			<%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-info btn-large"
			 %>
			<!--<a class="btn btn-success btn-large"
				href="#">Pay your respects now!</a>-->
		</p>	
	</div>
<%end%>