$baseFontFamily: Oxygen;
@import url(http:fonts.googleapis.com/css?family=Oxygen);

/*imports and uses new font*/

$navbarBackgroundHighlight: DarkOliveGreen;
$navbarBackground: White;
$navbarBrandColor: black;
/*changes nav bar colors*/

@import 'bootstrap';

body {
	padding-top: 60px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:60px; 
	position:absolute;  /* Height of the footer */
	/* changes spacing of body within the website to prevent it 
	from sticking to edges*/
}
@import 'bootstrap-responsive';

.navbar-inner .navbar {
	@include box-shadow(none !important);
	border: 0;
	/* removes the line under the navbar by overiding some of 
	bootstrap's inbuilt code */
	}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #c79810;
    }
 .navbar .nav > li > a {
   	color: black;
    }

.footer {
	margin-top: -60px;
	position:absolute;
   	bottom:0;
   	width:100%;
   	height:60px;   /* Height of the footer */
	color: $grayLight;
	a{
		color:$gray;
		/* changes color and adds padding to footer*/
	}
}

.box {
	margin:5px;
	padding:5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.description {
	margin: 10px 0 5px;
}

.brand {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

.brand:hover {
  color: #fff;
  text-decoration: none;
}