<div class="footer">
			<small> 
				Check out my progress <a href="http://www.vishnucode.blogspot.com">here</a> 
				<!-- <%= link_to "Check out my progress", "http://www.vishnucode.blogspot.com" %> -->
			</small>
		</div>